*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;  
  
  }
body{
    font-size: 20px;
    overflow-x: auto;
    overflow-y: auto;
    font-family: 'Flamenco', cursive;
    background-image: url('../images/aboutback.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
}
body::before{
    content: "";
  display: block;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(1, 22, 29, 0.863);
}
.title{
    width: 100%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.t1{
    font-size: 15px;
    color: white;
    line-height: 1.5;
    text-align: center;
    padding-bottom: 7px;
    font-size: 22px;
    font-weight: 500;
}
.t2{
    font-size: 70px;
    word-spacing: 5px;
    letter-spacing: 8px;
    color: white;
    line-height: 1.2;
    text-align: center;
    font-weight: lighter;
    position: relative;
}
.t2::after{
    content: '';
    height: 5px;
    width: 20%;
    background: white;
    position: absolute;
    left: 40%;
    bottom: 0;
}
.links1{
    width: 12%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 64px 15px 64px 15px;
    margin-left: 31%;
    float: left;
    margin-right: 5px;
    height: 50%;
    background: transparent;
}
.links1-fbook{
    margin-bottom: 14px;
    width: 120px;
    height: 120px;
    background-color: white;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 25px 25px 25px 25px;
    border-radius: 10px;
}
.links1-fbook img{
    width: 105%;
    height: 102%;
}
.links1-fbook1{
    width: 120px;
    height: 120px;
    background-color: white;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 25px 25px 25px 25px;
    align-items: center;
    border-radius: 10px;
}
.links1-fbook1 img{
    width: 100%;
    height: 100%;
}


.links2{
    width: 12%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 64px 15px 64px 15px;
    float: left;
    margin-right: 5px;
    height: 50%;
    background: transparent;
}

.links2-fbook{
    margin-bottom: 14px;
    width: 120px;
    height: 120px;
    background-color: white;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 25px 25px 25px 25px;
    border-radius: 10px;
}
.links2-fbook img{
    width: 106%;
    height: 106%;
}
.links2-fbook2{
    width: 120px;
    height: 120px;
    background-color: white;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 25px 25px 25px 25px;
    align-items: center;
    border-radius: 10px;
}
.links2-fbook2 img{
    width: 100%;
    height: 100%;
}


.links3{
    width: 12%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 64px 15px 64px 15px;
    float: left;
    height: 50%;
    background: transparent;
}

.links3-fbook{
    margin-bottom: 14px;
    width: 120px;
    height: 120px;
    background-color: white;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 25px 25px 25px 25px;
    border-radius: 10px;
}
.links3-fbook img{
    width: 108%;
    height: 108%;
}
.links3-fbook3{
    width: 120px;
    height: 120px;
    background-color: white;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 25px 25px 25px 25px;
    align-items: center;
    border-radius: 10px;
}
.links3-fbook3 img{
    width: 100%;
    height: 100%;
}

